<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pomodoro Timer Todo List App</title>

  <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="pomodoroToDo">
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '765052613629038',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.5'
      });

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  </script>

  <section ng-view class="main-section"></section>

  <script type="text/javascript">
    window.user = <%- user || 'null' %>;
  </script>

  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/moment/min/moment.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  
  <script src="/libs/angular/angular.min.js"></script>
  <script src="/libs/angular-route/angular-route.min.js"></script>
  <script src="/libs/angular-resource/angular-resource.min.js"></script>
  
  <script src="/js/controllers/mainCtrl.js"></script>
  <script src="/js/services/tasks.js"></script>
  <script src="/js/routes/taskRoutes.js"></script>
  <script src="/js/services/users.js"></script>
  <script src="/js/services/timer.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>